@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --color-khipu-black: #000000;
  --color-khipu-orange: #e95b30;
  --color-khipu-white: #ffffff;
  --color-khipu-gray: #414141;
  --color-udla-red: #c10230; 
}
